@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #cd5c5c;
  --secondary-color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.l-leading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-leading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem;
}
.py-2 {
  padding: 2rem;
}
.py-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  filter: brightness(90%);
}

.btn-dark {
  background: #333;
  color: var(--secondary-color);
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #333;
  color: var(--secondary-color);
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  padding: 0.75rem;
  margin: 0 0.25rem;
  color: var(--secondary-color);
}

#navbar ul li a:hover {
  background: var(--primary-color);
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #333
    url('https://images.unsplash.com/photo-1446797376004-9352dfc9f789?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2083&q=80')
    no-repeat center center/cover;
  height: 100vh;
  color: var(--secondary-color);
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#what {
  height: 100vh;
}

/* Section: What We Do */

#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
