@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #cd5c5c;
  --primary-color-2: #000000;
  --primary-color-3: #333;
  --secondary-color: #fff;
  --secondary-color-2: #333;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.bg-light {
  background: var(--secondary-color-2);
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: var(--secondary-color-2);
  color: #fff;
}

.l-leading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-leading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  filter: brightness(90%);
}

.btn-dark {
  background: #333;
  color: var(--secondary-color);
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: var(--secondary-color-2);
  color: #fff;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  padding: 0.75rem;
  margin: 0 0.25rem;
  color: #fff;
}

#navbar ul li a:hover {
  background: var(--primary-color);
  border-radius: 5px;
}

/* Toggle Switch */

.switch label {
  display: flex;
  width: 75px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #222;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

.switch label .ball {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  background: #fff;
  border-radius: 50%;
  transition: 0.8s;
}

.switch label {
  transition: 0.3s;
}
.switch input:checked + label {
  background: #c0c0c0;
}
.switch input:checked + label .ball {
  background: #222;
}
.switch input {
  display: none;
}

.switch label .fa-sun {
  opacity: 1;
}
.switch input:checked + label .fa-sun {
  opacity: 0;
}
.switch label .fa-moon {
  opacity: 0;
}
.switch input:checked + label .fa-moon {
  opacity: 1;
}

.switch label i {
  font-size: 18px;
}
.switch label .fa-sun {
  color: gold;
  transition: 0.8s;
}
.switch label .fa-moon {
  color: #9370db;
  transition: 0.8s;
}

.switch input:checked + label .ball {
  transform: translateX(40px);
}

/* Dark Mode */
.dark-mode {
  --primary-color: #3e4c59;
  --primary-color-2: #fff;
  --primary-color-3: #fff;
  --secondary-color: #8a2be2;
  --secondary-color-2: #8a2be2;
}

/* Showcase */
#showcase {
  background: #333
    url('https://images.unsplash.com/photo-1584048243280-9731afb8b3f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')
    no-repeat center center/cover;
  height: 100vh;
  color: var(--secondary-color);
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 67px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#showcase .showcase-content a {
  color: var(--primary-color-2);
}

#showcase .showcase-content p {
  color: #fff;
}

#what {
  /* height: 100vh; */
  background: var(--secondary-color);
}

/* Section: What We Do */

#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  color: var(--primary-color-2);
}

#what .items .item h3,
p {
  color: var(--primary-color-2);
}

/* Section: Who We Are */

#who {
  display: flex;
  justify-content: center;
  align-items: center;
}

#who .who-img {
  background: url('../img/Super-Lawyers18-web_res-1024x623.jpg') no-repeat
    center center/cover;
}

#who div {
  flex: 1;
  height: 50vh;
}

#who p {
  color: #fff;
}

/* Section: Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  width: 60%;
  margin: auto;
}

/* Section: Contact */
#contact {
  display: flex;
}

#contact div {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

.map {
  background: url('../img/Capture.PNG') no-repeat center center/cover;
}
